/*
===============
header
===============
*/

header {
  padding: 0 10vw;
  height: 10vh;
  display: grid;
  align-items: center;
}

.nav-center {
  display: flex;
  justify-content: space-between;
}

.nav-center h1 {
  color: white;
}

.nav-links {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-links li a {
  color: #0f172a;
}

